@charset "UTF-8";

.palette {
  position: relative;
  overflow: visible;
}

.palette:before {
  display: block;
  width: 100px;
  height: 18px;
  position: absolute;
  top: calc(50% - 8px);
  left: -58px;
  text-align: center;
  letter-spacing: 2px;
  font: 300 18px/1 "Open Sans Condensed", sans-serif;
  opacity: 0;
  transform: rotate(-90deg) translate3d(0, 0, 0);
}

.palette:after {
  display: block;
  content: "";
  clear: both;
}

.color {
  display: inline-block;
  width: 150px;
  height: 150px;
  position: relative;
  margin: 14px 8px;
  border-radius: 5px;
  text-align: center;
  opacity: 0;
  transition: all 150ms;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9e1815;
}
.color span {
  font-size: 58px;
  font-weight: bolder;
}

.color:after {
  position: relative;
  top: calc(50% - 11px);
  padding: 2px 5px;
  border-radius: 2px;
  text-transform: uppercase;
  font: 300 22px/1 "Open Sans Condensed", sans-serif;
  opacity: 0;
  background: rgba(255, 255, 255, 0.5);
  color: #362a34;
  -webkit-animation: fadeOut 200ms ease-in forwards;
  animation: fadeOut 200ms ease-in forwards;
}

.color:hover {
  transform: scale(1.15);
}

.color.in,
.color:hover:after {
  -webkit-animation: bounceIn 450ms ease-in;
  animation: bounceIn 450ms ease-in;
  opacity: 1;
}

.palette.in:before {
  -webkit-animation: fadeIn 300ms ease-in forwards;
  animation: fadeIn 300ms ease-in forwards;
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  80% {
    opacity: 1;
    transform: scale(0.89);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  80% {
    opacity: 1;
    transform: scale(0.89);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1.2);
  }
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1.2);
  }
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}
@-webkit-keyframes fadeIn {
  from {
    letter-spacing: -6px;
    opacity: 0;
  }
  to {
    letter-spacing: 2px;
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    letter-spacing: -6px;
    opacity: 0;
  }
  to {
    letter-spacing: 2px;
    opacity: 1;
  }
}
.result-random {
  height: 250px;
}

.intro {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  overflow: hidden;
}
#intro-video {
  width: 100%;
  height: 111%;
  object-fit: cover;
}

.bg-framet {
  background-image: url("./assets/frame/t.jpg");
  background-size: cover;
}

.bg-frame1 span {
  font-size: 70px;
}
.bg-frame1 {
  background-image: url(./assets/frame/Prize1.png);
  background-size: cover;
  background-position-x: 1px;
  width: 420px;
  height: 370px;
  margin-top: -20px;
}

.bg-frame2 span {
  font-size: 78px;
}
.bg-frame2 {
  background-image: url("./assets/frame/Prize2.png");
  background-size: cover;
  width: 350px;
  height: 280px;
  margin-top: 55px;
}

.bg-frame3 span {
  font-size: 76px;
}
.bg-frame3 {
  background-image: url("./assets/frame/Prize3.png");
  background-size: cover;
  width: 250px;
  height: 250px;
  margin-top: 75px;
}

.bg-frame4 span {
  font-size: 76px;
  margin-top: 32px;
}
.bg-frame4 {
  background-image: url(./assets/frame/Prize4.png);
  background-size: cover;
  width: 250px;
  height: 250px;
  margin-top: 75px;
}

.bg-frame5 span{
  margin-top: 20px;
}
.bg-frame5 {
  background-image: url("./assets/frame/Prize5.png");
  background-size: cover;
  height: 180px;
  margin-top: 120px;
}
.number-result{
  background-color: #be3124;
  text-align: center;
  margin: 5px;
  font-weight: bolder;
  font-size: large;
  color: white;
  padding: 20px;
}