.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.fullscreen-bg__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.root {
  z-index: 1;
}
.root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header {
  position: absolute;
  top: 0;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main{
    margin-top: -200px;
}
#playPauseBtn {
  cursor: pointer;
  font-size: 50px;
}

.ribbon {
  font-size: 42px !important;
  width: 700px;
  top: 0px;
  position: relative;
  background: #ffffff;
  color: #ff0000;
  text-align: center;
  padding: 0.5em 2em;
  margin: 0.5em auto 3em;
}
.ribbon:before,
.ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #e9e9e9;
  z-index: -1;
}
.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}
.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}
.ribbon .ribbon-content:before,
.ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #b3b3b3 transparent transparent transparent;
  bottom: -1em;
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}
.footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    scale: 0.7;
}

.footer >  div{
    width: 300px;
    outline: none;
    background: transparent;
    border: none;
    outline: none;
    height: 470px;
    position: relative;
}
.footer >  div img{
    width: 200px;
}
.amount-gift{
  position: absolute;
  bottom: 0;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10px 40px;
  background-color: #c23425;
  border: #e5ba51 5px solid;
  border-radius: 12px;
}
.prize{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}